body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    background-color: #f8c8dc; /* Rosa pastel */
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

h1 {
    color: #d63384; /* Un tono más oscuro para contraste */
}

button {
    background-color: #ff69b4; /* Rosa más intenso */
    color: white;
    border: none;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
}

button:hover {
    background-color: #ff1493;
}
